# Example of .env file to be used to setup the environment variables
# for the AI Annotator application.

# Location for the MongoDB data and application storage will
# be stored.
LOCAL_STORAGE_PATH=/path/to/your/local/storage
