# Example of .env file to be used to setup the environment variables
# for the AI Annotator application.

# Location for the MongoDB data and application storage will
# be stored.
LOCAL_STORAGE_PATH=/path/to/your/local/storage

# Secret key for JWT token generation.
AI_ANNOTATOR_SECRET_KEY=your_secret_key

# Port for the backend API server.
API_PORT=8000
