:root {
    --error-dialog-background-color: rgb(255, 0, 0, 0.5);
    --error-dialog-border-color: red;

    --error-dialog-container-height: 320px;
}

.error-dialog-popup-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
    height: var(--error-dialog-container-height);
    max-height: var(--error-dialog-container-height);
    overflow: hidden;
    z-index: 1000;
    padding: 0px 10px 0px 10px;
    mask-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 30%);
    pointer-events: none;
}

.error-dialog-popup-component {
    display: flex;
    flex-direction: column;
    background-color: var(--error-dialog-background-color);
    border: 1px solid var(--error-dialog-border-color);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    max-width: 450px;
    word-wrap: break-word;
    pointer-events: auto;
    user-select: none;
}
