.main-page-component {
    display: flex;
    flex-direction: row;
    padding: 50px 80px 50px 80px;
    gap: 20px;
}

.load-create-project-card-component,
.create-project-card-component,
.project-card-component {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--tertiary-text-color);
    border-radius: 16px;
    background-color: var(--primary-background-color);
    padding: 20px;
    user-select: none;
    min-height: 140px;
    max-height: 140px;
    min-width: 300px;
    max-width: 300px;
    * {
        color: var(--tertiary-text-color);
    }
    span {
        font-size: 1.6em;
    }
}

.load-create-project-card-component {
    position: relative;
}
.load-create-project-card-component::before {
    content: '...';
    position: absolute;
    font-size: 1.6em;
    color: var(--tertiary-text-color);
}

.create-project-card-component {
    position: relative;
}
.create-project-card-component:hover {
    cursor: pointer;
    border: 2px dashed var(--secondary-text-color);
}
.create-project-card-component::before {
    content: 'New Project';
    position: absolute;
    font-size: 1.6em;
    color: var(--tertiary-text-color);
}
.create-project-card-component:hover::before {
    color: var(--secondary-text-color);
}

.project-card-component {
    flex-direction: column;
    border: 2px solid var(--secondary-text-color);
    padding: 10px;
    * {
        width: 100%;
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        height: 80%;
    }
    button {
        display: flex;
        height: fit-content;
        width: fit-content;
    }
    button svg {
        fill: var(--tertiary-text-color);
    }
    button:hover svg {
        fill: var(--primary-text-color);
    }
    h3 {
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        overflow: hidden;
        max-height: 50px;
        color: var(--primary-text-color);
    }
}

.create-project-popup-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary-text-color);
    border-radius: 20px;
    background-color: var(--primary-background-color);
    padding: 10px 30px 30px 30px;
    width: 700px;
    gap: 8px;
    box-shadow: 0px 0px 20px 1px var(--primary-shadow-color);
    div:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
    button {
        margin-left: auto;
    }
    button svg {
        fill: var(--secondary-text-color);
    }
    button:hover svg {
        fill: var(--primary-text-color);
    }
    h1 {
        align-items: flex-start;
        user-select: none;
    }
    input[type='text'],
    input[type='password'],
    select {
        width: 100%;
        border: 1px solid var(--secondary-text-color);
        border-radius: 12px;
        padding: 5px 10px 5px 10px;
        font-size: 16px;
    }
    #create-project-task-description {
        user-select: none;
        margin-top: 5px;
        font-style: italic;
        height: 80px;
        padding: 5px;
        overflow: hidden;
        overflow-y: scroll;
        border: 1px solid var(--tertiary-text-color);
        border-radius: 10px;
    }
}

.create-project-password-input-container {
    margin-bottom: 20px;
    position: relative;
}

#create-project-password-visibility-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 17px;
    right: 22px;
}
#create-project-password-visibility-label > input[type='checkbox'],
#create-project-password-visibility-label > svg {
    position: absolute;
    cursor: pointer;
    height: 20px;
    width: 20px;
    fill: var(--secondary-text-color);
}
#create-project-password-visibility-label > input[type='checkbox'] {
    opacity: 0;
    z-index: 2;
}
#create-project-password-visibility-label > input[type='checkbox']:checked + svg:first-of-type {
    display: block;
}
#create-project-password-visibility-label > input[type='checkbox']:checked + svg:last-of-type {
    display: none;
}
#create-project-password-visibility-label > svg:first-of-type {
    display: none;
}

.create-project-task-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.create-project-task-file-format-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 2px;
    p {
        user-select: none;
    }
    div {
        gap: 5px;
        display: flex;
        flex-direction: row;
        background-color: var(--secondary-background-color);
        border-radius: 10px;
        padding: 8px;
    }
    div p {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--secondary-text-color);
        border-radius: 10px;
        padding: 3px 8px 3px 8px;
    }
}

#create-project-confirm-button {
    border: 1px solid var(--tertiary-text-color);
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
}
#create-project-confirm-button:hover {
    border: 1px solid var(--secondary-text-color);
}

.confirm-project-deletion-popup-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--secondary-text-color);
    border-radius: 20px;
    background-color: var(--primary-background-color);
    padding: 20px 30px 30px 20px;
    min-width: 500px;
    gap: 12px;
    box-shadow: 0px 0px 20px 1px var(--primary-shadow-color);
    h4 {
        align-items: flex-start;
        user-select: none;
        color: var(--primary-text-color);
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
