.project-password-input-container {
    position: relative;
    input[type='text'],
    input[type='password'] {
        width: 100%;
        border: 1px solid var(--secondary-text-color);
        border-radius: 12px;
        padding: 5px 40px 5px 10px;
        font-size: 16px;
    }
}

#project-password-visibility-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 17px;
    right: 22px;
}
#project-password-visibility-label > input[type='checkbox'],
#project-password-visibility-label > svg {
    position: absolute;
    cursor: pointer;
    height: 22px;
    width: 22px;
    fill: none;
}
#project-password-visibility-label > input[type='checkbox'] {
    opacity: 0;
    z-index: 2;
}
#project-password-visibility-label > input[type='checkbox']:checked + svg:first-of-type {
    display: block;
}
